# Set up the .gitignore file as a whitelist
*
!/README.md
!/Snakefile
!/scripts/
!/data/
!/data/sequences/
!/data/sequences/all_evc_sequences.fasta
!/data/metadata/
!/data/metadata/all_evc_metadata.csv
!/data/gene_annotation/
!/data/gene_annotation/annotation.gff
!/data/gene_annotation/annotation.tsv
!/data/gene_annotation/annotation_coding_region.gff
!/data/gene_annotation/annotation_coding_region.tsv
!/data/config/
!/data/config/colors.tsv
!/data/config/vp1_clades.tsv
!/data/config/sites_of_interest.tsv
!/data/config/auspice_config.json